:root {
  --spinner-target-width: 300px;
  --spinner-target-height: 500px;
  --spinner-target-box: min(var(--spinner-target-width), var(--spinner-target-height));
}

body {
  background-color: black;
}

@keyframes neon {
  from {
    opacity: 20%
  }
  to {
    opacity: 100%
  }
}

.neon * {
  animation-name: neon;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  margin: 1rem;
}

.container {
  border-width: 0.5rem;
  border-style: solid;
  border-radius: 0.5rem;
}

.text {
  font-family: "Comic Sans MS";
  font-weight: bold;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
}

.red {
  border-color: #ff8888;
  color: #ff8888;
}

.white {
  border-color: white;
  color: white;
}

.blue {
  border-color: #8888ff;
  color: #8888ff;
}

.bg-red {
  background-color: #ff8888;
}

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: #8888ff;
}

@keyframes spinner-anchor-travel {
  to {
    transform: rotate(360deg);
  }
}

.spinner-target {
  position: relative;
  margin: 1rem;
  width: var(--spinner-target-box);
  height: var(--spinner-target-box);
}

.spinner-anchor {
  position: absolute;
  top: calc(var(--spinner-target-box) / 2);
  left: var(--spinner-target-box);
  transform-origin: calc(var(--spinner-target-box) * -1 / 2) 0;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  animation-name: spinner-anchor-travel;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

:root {
  --saucy-height: 200px;
}

#saucy-feature {
  position: relative;
  width: 100%;
  height: var(--saucy-height);
}

#saucy-act {
  z-index: 1;
}

