:root {
  --spinner-target-width: 300px;
  --spinner-target-height: 500px;
  --spinner-target-box: min(var(--spinner-target-width), var(--spinner-target-height));
}

body {
  background-color: black;
}



@keyframes spinner-anchor-travel {
  to {
    transform: rotate(360deg);
  }
}

.spinner-target {
  position: relative;
  margin: 1rem;
  width: var(--spinner-target-box);
  height: var(--spinner-target-box);
}

.spinner-anchor {
  position: absolute;
  top: calc(var(--spinner-target-box) / 2);
  left: var(--spinner-target-box);
  transform-origin: calc(var(--spinner-target-box) * -1 / 2) 0;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  animation-name: spinner-anchor-travel;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

:root {
  --saucy-height: 500px;
}

#saucy-feature {
  position: relative;
  width: 100%;
  height: var(--saucy-height);
}

#saucy-act {
  z-index: 1;
}

